version: "3.9"
services:
  message-service:
    build:
      context: .
      dockerfile: ./messageService/Dockerfile
    container_name: message-service
    ports:
      - "50051:50051"
    environment:
      - ENV=${ENV}
      - BUFFER_SIZE=100
      - STORAGE_TYPE=memory
      - NO_AUTH=${NO_AUTH}
      - NATS_ADDRESS=${NATS_ADDRESS}
      - SERVICE_API_KEY=${MESSAGE_SERVICE_API_KEY}
    depends_on:
      - nats
    networks:
      - app-network

  broadcast-service:
    build:
      context: .
      dockerfile: ./broadcast/Dockerfile
    container_name: broadcast-service
    ports:
      - "8081:8081"
    environment:
      - ENV=${ENV}
      - NO_AUTH=${NO_AUTH}
      - NATS_ADDRESS=${NATS_ADDRESS}
    depends_on:
      - message-service
      - nats
    networks:
      - app-network

  gateway-service:
    build:
      context: .
      dockerfile: ./gateway/Dockerfile
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      - ENV=${ENV}
      - MESSAGE_SERVICE_API_KEY=${MESSAGE_SERVICE_API_KEY}
      - MESSAGE_SERVICE_IP=message-service:50051
      - ROOM_SERVICE_API_KEY=${ROOM_SERVICE_API_KEY}
      - ROOM_SERVICE_IP=room-service:50052
      - NO_AUTH=${NO_AUTH}
    depends_on:
      - message-service
      - broadcast-service
    networks:
      - app-network

  nats:
    image: nats:latest
    ports:
      - "4222:4222" 
      - "8222:8222" 
    command: ["-js", "-m", "8222"]
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:

